<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="library/css/bootstrap.min.css"></link>
    <link type="text/css" rel="stylesheet" href="assets/css/app.css"></link>
    <script src="library/js/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/simple-popup.js"></script>
    <script src="assets/js/portfolioRules.js"></script>
    <script src="assets/js/summary.js"></script>
    <script src="assets/js/header.js"></script>
  </head>
  <body>
    <div ng-app="goldenpi">
      <header ng-controller="headerController">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12 header-wrapper">
          <div class="logo-wrapper ">
            <img class="img-responsive logo" src="assets/images/logo.png" alt="logo" />
          </div>
          <div class="logout-wrapper">
            <div class="logout-image"><img src="assets/images/facebook-icon.png" class="img-responsive" alt="logout-image" ng-model="logoutClick" ng-click="showLogout()"/></div>
            <ul style="display: {{logoutVisible}}">
              <li><a href="/investment-purpose.html">Explore bonds</a></li>
              <li><a href="/investment-summary.html">Portfolio Summary</a></li>
              <li><a href="/logout.html">Logout</a>
            </ul>
          </div>
          <div class="clr"></div>
        </div>
      </header>
      <section ng-controller="summaryController">
        <div class="col-lg-12 col-sm-12 col-md-12 no-padding col-xs-12 summary-wrap" style ="display: {{ noInst }}">
          <div class="summary-container" style ="display: {{ sugShow }}">
            <div class="selected-plan-details" ng-repeat="item in investmentPurpose">
              <div class="heading">
                {{ item.title }}
              </div>
              <div class="value">
                {{ item.value }}
              </div>
            </div>
          </div>
          <div class="suggested-portfolio-wrap">
            <div class="col-sm-12 col-lg-12 col-md-12 tab-folio">
              <a href="#" class="folio-type active" data-type="suggested-portfolio" ng-click="showPortfolio($event)">Suggested Portfolio</a>
              <a href="#" class="folio-type" data-type="custom-portfolio" ng-click="showPortfolio($event)">Custom Portfolio</a>
            </div>
            <div class="clr"></div>
            <div>
              <div class="suggested-portfolio">
                <div class="info-risk" title="The risk associated with your folio is low">
                  i
                </div>
                <div class="heading">
                  Total Investment
                </div>
                <div class="value">
                  {{ orderSummary.inputParameters.Amount }}
                </div>
                <div class="heading">
                  Value at Maturity
                </div>
                <div class="value">
                  {{ orderSummary.inputParameters.value }}
                </div>
                <div class="heading">
                  Return %
                </div>
                <div class="value">
                  {{ orderSummary.inputParameters.return }} %
                </div>
                <div class="comp-fd">
                  <a class="green-text comp-fd" ng-click="compareWithFD()" simple-popup="templates/demo-1/template-1b.html">Compare With FD</a>
                </div>
              </div>
              <div class="explore-all-invest">
                <button class="green-btn"><a href="explore-investment.html">Explore All Investment</a></button>
              </div>
              <div class="clr"></div>
            </div>
            <div style ="display: {{ primShow }}">
              <div class="instrument-details col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style ="display: {{ sugShow }}">
                <div class="instrument-heading-par">
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    Maturity Date
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    Name
                  </div>
                  <div class="col-sm-2 col-lg-2 col-xs-3 col-md-1">
                    Issuer Name
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    Return %
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    Bid Price
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    Units
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    Investment
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    Credit Rating
                  </div>
                  <div class="col-sm-2 col-lg-2 col-xs-3 col-md-2">
                    IPO/ NSE/ BSE
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-2 col-md-1">
                  </div>
                  <div class="clr"></div>
                </div>
                <div class="instrument-wrapper" ng-repeat = "item in instrumentDetails" >
                  <div class="instrument-heading">
                    <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                      {{ item.MaturityDate}}
                    </div>
                    <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                      {{ item.Name}}
                    </div>
                    <div class="col-sm-2 col-lg-2 col-xs-3 col-md-1">
                      {{ item.IssuerName }}
                    </div>
                    <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                      {{ item.Return }}
                    </div>
                    <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                      {{ item.BidPrice === 0?'   --    ':item.BidPrice }}
                    </div>
                    <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                      {{ item.Unit === 0?'   --   ':item.Unit }}
                    </div>
                    <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                      {{ item.Investment }}
                    </div>
                    <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                      {{ item.CreditRating }}
                    </div>
                    <div class="col-sm-2 col-lg-2 col-xs-3 col-md-2">
                      {{ item.Market }}
                    </div>
                    <div class="col-sm-1 col-lg-1 col-xs-2 col-md-1">
                    </div>
                    <div class="clr"></div>
                  </div>
                </div>
              </div>
              <div class="instrument-details custom-portfolio col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style ="display: {{ custShow }}">
              <div class="instrument-heading-par" style="display: {{customHide}}">
                <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                  Maturity Date
                </div>
                <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                  Name
                </div>
                <div class="col-sm-2 col-lg-2 col-xs-3 col-md-1">
                  Issuer Name
                </div>
                <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                  Return %
                </div>
                <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                  Bid Price
                </div>
                <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                  Units
                </div>
                <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                  Investment
                </div>
                <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                  Credit Rating
                </div>
                <div class="col-sm-2 col-lg-2 col-xs-3 col-md-2">
                  IPO/ NSE/ BSE
                </div>
                <div class="col-sm-1 col-lg-1 col-xs-2 col-md-1">
                </div>
                <div class="clr"></div>
              </div>
              <div class="instrument-wrapper" ng-repeat = "item in customPortfolioDetails track by $index" >
                <div class="instrument-heading">
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    {{ item.MaturityDate}}
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    {{ item.Name}}
                  </div>
                  <div class="col-sm-2 col-lg-2 col-xs-3 col-md-1">
                    {{ item.IssuerName }}
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    {{ item.Return }}
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    <input type="text" class="input-text custom-folio-text" ng-change="activateRecompute()" ng-model="item.BidPrice" data-index={{$index}} ng-blur="saveInvestmentDetails($event)" only-digits floating="floating" />
                    <span class="error hide" id="error">Please enter only two digits</span>
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    <input type="text" class="input-text custom-folio-text" ng-change="activateRecompute()" ng-model="item.Unit" data-index={{$index}} ng-blur="saveInvestmentDetails($event)" only-digits />
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    <input type="text" class="input-text custom-folio-text total-inv" ng-change="activateRecompute()" data-index={{$index}} ng-model="item.Investment" ng-blur="saveInvestmentDetails($event)" />
                    <span class="error hide" id="error">Please enter in multiples of 10000</span>
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-3 col-md-1">
                    {{ item.CreditRating }}
                  </div>
                  <div class="col-sm-2 col-lg-2 col-xs-3 col-md-2">
                    {{ item.Market }}
                  </div>
                  <div class="col-sm-1 col-lg-1 col-xs-2 col-md-1">
                    <button class="delete-icon delete" ng-click="deleteFolio($event)" data-bond-name="{{item.Name}}"></button>
                  </div>
                  <div class="clr"></div>
                </div>
              </div>
              <div class="no-folio-wrap" style="display: {{noFolio}}">
                <h3>No Portfolio found</h3>
                <button class="green-btn folio-btn">Explore All Options</button>
                <h4>or</h4>
                <button class="green-btn folio-btn last" ng-click="importSuggestedPortfolio()">Import Suggested Portfolio Summary</button>
              </div>
            </div>
              <div class="clr"></div>
            </div>
            <div class="condition" style ="display: {{ primShow }}">
              {{condition}}
            </div>
          </div>
          <div class="reinvestment-wrap" style ="display: {{ propShow }}">
            <!-- <h4>Reinvestment Portfolio:</h4>
            <div class="suggested-portfolio">
              <div class="heading">
                Total Investment
              </div>
              <div class="value">
                {{ orderSummary.inputParameters.Amount }}
              </div>
              <div class="heading">
                Value at Maturity
              </div>
              <div class="value">
                {{ orderSummary.inputParameters.value }}
              </div>
              <div class="heading">
                Return %
              </div>
              <div class="value">
                {{ orderSummary.inputParameters.return }}
              </div>
            </div> -->
            <div class="reinvestment-detail">
              <div class="col-lg-10 col-xs-12 col-md-10 col-sm-10 no-padding reinv-shadow">
                <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 heading-wrap">
                  <div class="col-sm-1 col-lg-1 col-md-1 amount-div">
                    Amount
                  </div>
                  <div class="col-sm-2 col-lg-2 col-md-2 year-div" ng-repeat = "item in dateRange" >
                    {{ item }}
                  </div>
                  <div class="clr"></div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 investment-table-wrap" ng-repeat = "item in suggestionSummary">
                  <div class="amount-wrap col-sm-1 col-md-1">
                    {{ item.totalInvestment }}
                  </div>
                  <div class="col-sm-11 col-md-11 col-lg-11 reinv-value-wrap">
                    <div class="fund-name">
                      {{ item.return }}
                    </div>
                    <div class="maturity-fund ma-{{ tenure - item.reinvestSuggestionYears}}">
                      {{ item.maturityMessage }}
                      =
                      {{ item.maturityValue }}
                    </div>
                    <div class="reinvestment-maturity re-{{ item.reinvestSuggestionYears }}">
                      {{ item.reinvestmentMessage }}
                    </div>
                  </div>
                </div>
                <div class="clr"></div>
              </div>
              <div class="col-lg-2 col-sm-2 col-md-2">
                <div class="no-padding pay-fut">
                  Net Payments in 2022
                </div>
                <div class="money-value">
                  31.71lacs + interest
                </div>
                <div class="money-value">
                  36.22 lacs
                </div>
              </div>
              <div class="clr"></div>
            </div>
          </div>
          <div class="bottom-wrap">
            <div class="return-port-wrap" style="display: {{ sugShow }}">
              <button class="green-btn" ng-click="showreInvest()">{{ reInvest }}</button>
            </div>
            <div class="recompute-portfolio">
              <button class="green-btn" ng-click="recommputePortfolio()" ng-disabled="recomputeActive" >Recompute Portfolio</button>
            </div>
            <div class="place-order">
              <button class="green-btn">Place Order</button>
            </div>
            <div class="clr"></div>
          </div>
          <div class="clr"></div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12" style ="display: {{ noInst }}">
          {{ noInstrumentAvailable }}
        </div>
      <div class="clr"></div>
      <div class="pop-up">
        <script type="text/ng-template" id="templates/demo-1/template-1b.html">
          <section>
            <div class="main-content" id="main">
              <h3>Returns: My Portfolio vs Bank FD</h3>
              <div class="bar-container col-sm-12 col-lg-12 col-md-12">
                <div class="bar-wrap col-sm-3 col-md-3 col-lg-3">
                  <span class="name">My portfolio</span>
                  <div class="bar gold" style="height: {{(($parent.inputParameters.return > 10)?($parent.inputParameters.return)/2 : ($parent.inputParameters.return)) * 20}}px">{{ $parent.inputParameters.return }}%</div>
                </div>
                <div class="bar-wrap col-sm-3 col-md-3 col-lg-3" ng-repeat = "item in $parent.fdDetails">
                  <span class="name">{{item.instrumentName}}</span>
                  <div class="bar" style="height: {{((item.return > 10)?(item.return)/2 : (item.return)) * 20}}px" style="height: {{item.return * 20}}px">{{ item.return }}%</div>
                </div>
              </div>
            </div>
            <footer>
              <button class="popup-close right green-btn">Close</button>
            </footer>

          </section><!-- popup-screen -->

          <section>
            <h4>Find me</h4>
            <div class="two subtitles clear">
              <h5 class="go-to-screen-1 clickable">Postal Address</h5>
            </div>
            <footer>
              <button class="popup-close right">close</button>
            </footer>
          </section>
        </script>
      </div>
    </section>
      <footer>
        <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12 footer-wrap">
          <p>@ GoldenPI Technologies Private Limited </p>
        </div>
      </footer>
    </div>
  </body>
</html>
